@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

/*Header*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  
    
}

body {
    background-color: #000;
    overflow-x: hidden;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: black;

}

nav {
    width: 60%;
    
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam thmor pro', sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: 70px;
}

#banner {
    background-image: url('https://deadline.com/wp-content/uploads/2020/08/batman-e1597940464165.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 590px;
}

/*Trailer*/

#trailer-container {
    width: 150%;
    height: 600px;
    display: flex;
    justify-content: left;
    margin-left: 40px;

}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

#trailer {
    width: 50%;
    cursor: pointer;
}

/*Sinopse*/

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
   
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

/*Cards*/

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://i.pinimg.com/564x/c7/0f/05/c70f05afb1bb60af073fce313d964636.jpg');
}

.banner-2 {
    background-image: url('https://pbs.twimg.com/media/FMO83fmWYAMYttY?format=jpg&name=900x900');
}

.banner-3 {
    background-image: url('https://preview.redd.it/opinions-on-jeffrey-wrights-gordon-v0-l617izc155sb1.png?auto=webp&s=d86970095d58cf4443cf974ced11c68dd31e93bf');
}

.banner-4 {
    background-image: url('https://sm.ign.com/ign_br/screenshot/default/charada-batman-filme_71j7.jpg');
}

.banner-5 {
    background-image: url('https://i.pinimg.com/564x/62/88/ef/6288ef6187e5e9355cab04eb86608849.jpg');
}

.banner-6 {
    background-image: url('https://i.pinimg.com/564x/e4/f3/ab/e4f3abef2bb3bc839ecd73a3eca9fd32.jpg');
}

/* Footer */

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}




h1 {
    color: #fff;
}




@media (min-width: 320px) and (max-width: 480px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        max-width: 100%;
        height: 650px;
    }

    #trailer-container {
        width: 95%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .container-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #trailer {
        width: 100%;
        margin-right: 10px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    .description {
        width: 95%;
        text-align: justify;
    }

    .button {
        width: 95%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
        
    }

    li:hover {
        color: #D21617;
    }

    .text {
        font-size: 5px;
        margin-bottom: 35px;
        text-align: center;
    
    }

    .paragrafo {
        width: 150px;
        text-align: center;
        

    }

    body {
        width: 100%;
        
    }

    section {
        width: 95%;

    }

    h2 {
        width: 100%;
        text-align: center;
        
    }
    input {
        width: 100%;
        
    }

    textarea {
        width: 100%;
    }


    
    .image {
        width: 100%;
    }
    
    
    .heading {
        text-align: center;
        font-size: 40px;
    }


}


@media (min-width: 481px) and (max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        max-width: 100%;
        height: 700px;
    }

    #trailer-container {
        width: 95%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .container-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #trailer {
        width: 100%;
        margin-right: 10px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    .description {
        width: 95%;
        text-align: justify;
    }

    .button {
        width: 95%;
        margin-top: 30px;
    }

    .cards-content {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        margin-top: 200px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    li:hover {
        color: #D21617;
    }

    .text {
        font-size: 5px;
        margin-bottom: 35px;
        text-align: center;
    
    }

    .paragrafo {
        width: 150px;
        text-align: center;
        

    }

    body {
        width: 100%;
        
    }

    section {
        width: 95%;

    }

    h2 {
        width: 100%;
        text-align: center;
        
    }
    input {
        width: 100%;
        
    }

    textarea {
        width: 100%;
    }
    
    
    .container-image {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 25px 20px;
        
    }

    .image {
        width: 100%;
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        max-width: 100%;
        height: 700px;
    }

    #trailer-container {
        width: 95%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #trailer {
        width: 100%;
        margin-right: 10px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    .description {
        width: 95%;
        text-align: justify;
    }

    .button {
        width: 95%;
        margin-top: 30px;
    }

    .cards-content {
        display: grid;
        grid-template-columns: repeat(3,2fr);
        margin-top: 200px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    li:hover {
        color: #D21617;
    }

    .text {
        font-size: 5px;
        margin-bottom: 35px;
        text-align: center;
    
    }

    .paragrafo {
        width: 150px;
        text-align: center;
        

    }

    body {
        width: 100%;
        
    }

    section {
        width: 90%;

    }

    h2 {
        width: 100%;
        text-align: center;
        
    }
    input {
        width: 100%;
        
    }

    textarea {
        width: 100%;
      
    }
    
    
    .container-image {
        display: grid;
        grid-template-columns: repeat(3,3fr);
        padding: 25px 20px;
        
    }

    .image {
        width: 100%;
        
        
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        max-width: 100%;
        height: 700px;
    }

    #trailer-container {
        width: 95%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #trailer {
        width: 100%;
        margin-right: 10px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    .description {
        width: 95%;
        text-align: justify;
    }

    .button {
        width: 95%;
        margin-top: 30px;
    }

    .cards-content {
        display: grid;
        grid-template-columns: repeat(3,2fr);
        margin-top: 200px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    li:hover {
        color: #D21617;
    }

    .text {
        font-size: 5px;
        margin-bottom: 35px;
        text-align: center;
    
    }

    .paragrafo {
        width: 150px;
        text-align: center;
        

    }

    body {
        width: 100%;
        
        
    }

    section {
        width: 50%;

    }

    h2 {
        width: 100%;
        text-align: center;
        
    }
    input {
        width: 100%;
        
    }

    textarea {
        width: 100%;
    }
    
    .container-image {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }

    .image {
        width: 100%;
    }

    .heading {
        text-align: center;
        align-items: center;
    }
}








