* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    
}


body {
    background-color: black;
}

/* NAVBAR EM CIMA DA IMAGEM */
nav {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: black;
    align-items: center;
}


#cr7 {
    width: 100px;
    margin-left: 80px;
}

.lado-direito {
    display: flex;

    align-items: center;    
}

a {
    display: flex;
    align-items: center;
    font-family: "proxima-nova-condensed", "Helvetica", arial, sans-serif;
    outline: none;
    color: aliceblue;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: red;
    transition: .6s;
}

.banner {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.bio {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 90vh;
}

p {
    display: flex;
    color: #ffff;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}


#video {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
    border-radius: 50px;
    border: none;
    margin-left: 200px;
}

.titulo-bio{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #ffff;
    margin-top: 50px;
}

span {
    color: #ffff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    margin-bottom: 100px;
}