@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./img/Full-Stack.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 700px;
    width: 100%;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

a {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    

} 

a:hover {
    color: #4F46E5;
    transition: all .5s;
}

li:hover {
    color: #D870DB;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:  -1s;
    -webkit-animation-delay:  -1s;
}

.arrows path.a2 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -0.5s;
}

.arrows path.a3 {
    animation-delay:  0s;
    -webkit-animation-delay:  0s;
}

main {
    height: 100vh;
}


.content-container {
    min-height: 100vh;
    height: auto;
    background-color: #333; 
    display: flex;
    flex-direction: column;
}
.profile-container, .project-container, .form-container {
    padding: 60px 0; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}

.profile-container {
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/Fones\ atual.jpg');
    background-size: cover;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #4F46E5;
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #4F46E5;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 150;
}

.profile-button:hover {
    background-color: rgb(109, 125, 138);
    color: #fff;
}

.divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
}

.profile-sinopse {
    width: 500px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 27px;
}



.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/imagem\ de\ fundo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container {
    width: 100%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.project-card {
    width: 700px;
    height: 200px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.08);
}

.image-reverse {
    left: 20px;
}

.project-text {
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
}


.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #442AB8;
    width: 500px;
    height: 650px;
    border-radius: 8px;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;
    height: 20px;
    
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8px;
}

button {
    width: 100%;
    border: none;
    background: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 600;
    outline: none;
}

button:hover {
    background-color: #4F46E5;
    color: #fff;
    transition: all .5s;
}


.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

#texto-rodape {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: black;
}





@media (max-width: 833px) {

    html, body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        margin: 20px 20px;
        margin-left: 20px;
    }
    
    .section {
        display: flex;
        flex-direction: row;
    }

    #titulo {
        text-align: center;
        font-size: 20px;
        

    }
    

    ul {
        
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: row;
        align-items: center;      
        gap: 8px;  
        width: 100%;
    }
    
    li {
        display: block;
    }

    a {
        display: block;
        padding: 10px;
   
    }
    
    h1 {
        font-size: 1.9rem;
        
    }


    .profile-container {
            
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 100%;
        height: auto;     
    }

    .profile-content {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    

    .profile-card{
        margin-top: 20px;
        margin: 20px;
        max-height: auto;       
    }

    .profile-sinopse {
        margin-top: 20px;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 15px;
        text-align: center;
    }

    .project-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
    img {
        margin-right: 20px;
    }

    .project-card {
        width: 100%;
        display: flex;
        margin-right: 20px;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        gap: 20px;
        
        
    }

    .position-container {
        justify-content: center;
    }


    .main {
        height: auto;
    }    

    .content-container {
        height: auto;
        min-height: auto;
    }


    .form-container {
        width: 100;
        height: auto;
        
    }

    form {
        margin: 30px;
        width: 300px;
    }


}

@media (min-width: 834px) and (max-width: 1320px) {
    a {
        font-size: 30px;
    }

    ul {
        width: 500px;
    }
    
    h1 {
        font-size: 50px;
    }    

    .profile-container {
        display: flex;
        flex-direction: row;
    }

    .profile-sinopse{
        margin-left: 150px;
    }

    .profile-card {
        margin-left: 30px;
    }

    .project-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 30px;
    }

    .project-card {
        margin-right: 30px;
        margin-left: 30px;
    }

    

}

@media (min-width: 1600px) {
    
    html {
        font-size: 22px; 
    }


    nav {
        width: 80%; 
        max-width: 1800px; 
        display: flex;
        justify-content: center;
    }

    ul {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-between; 
        gap: 60px; 
    }

   
    li a {
        font-size: 38px !important; 
        white-space: nowrap; 
    }

    
    header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
    .profile-container {
        flex-direction: row !important; 
        gap: 100px;
        padding: 0 50px;
    }

    .profile-card {
        max-width: 450px; 
        padding: 40px;
    }

    .profile-button {
        width: auto; 
        min-width: 250px; 
        padding: 0 20px; 
        height: 70px; 
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-sinopse {
        width: 900px;
        font-size: 38px;
        text-align: left;
    }

    .project-content {
        max-width: 1800px;
        gap: 60px;
    }

    .project-card {
        max-width: 1400px;
        width: 100%;
        height: auto; 
        min-height: 350px;
        padding: 30px;
    }

    .project-image {
        width: 550px;
    }

    .project-text {
        font-size: 28px;
        margin-left: 40px;
    }

    
    form {
        width: 850px;
        height: auto; 
        min-height: 850px; 
        padding: 50px;
        justify-content: space-evenly;
    }

    form h1 { font-size: 60px; }
    
    label { 
        font-size: 28px; 
        margin-bottom: 20px; 
    }

    input { 
        height: 50px; 
        font-size: 22px; 
    }

    textarea { 
        height: 400px; 
        min-height: 400px; 
        font-size: 22px; 
    }

    button[type="submit"] {
        height: 70px;
        font-size: 28px;
    }
}